.loading-containerr {
  background-color: #230640;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.container-style {
  width: 589px;
  height: 749px;
  border-radius: 20px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.image-cont-sty {
  position: relative;
}

.image-style {
  width: 91px;
  height: 91px;
  position: absolute;
  top: -58px;
  right: -42px;
}

.header-sty {
  display: flex;
  justify-content: flex-end;
  margin-left: 80%;
  margin-top: 10px;
}
.done-link {
  text-decoration: none;
  color: #444;
  text-align: right;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 900;
}

.result-text {
  text-align: center;
  margin-top: 20px;
}

.congratulations {
  color: #7e2cd1;
  text-align: center;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 900;
  margin-top: 40px;
}

.qualification-text {
  color: #6a6a76;
  text-align: center;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  width: 393px;
}
.result-heading .your-result {
  color: #949494;
  text-align: center;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
}
.result-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* width: 314px; */
  width: 100%;
  height: 60px;
  margin-top: 20px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.1);
}

.result-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.info-heading {
  color: #444;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
}

.info-value {
  color: #444;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
}

.prize-details {
  margin-top: 40px;
}

.prize-heading {
  color: #7e2cd1;
  text-align: center;
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 900;
}

.prize-amount {
  color: #4fd96d;
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 900;
}

.current-balance {
  color: #444;
  text-align: center;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
}

.replay-button {
  width: 162px;
  height: 50px;
  background-color: #ffd700;
  filter: drop-shadow(0px 2px 8px rgba(255, 215, 0, 0.4));
  color: #141414;
  text-align: center;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 900;
}


@media only screen and (min-width: 263px) and (max-width: 930px) {
  .loading-containerr {
    background-color: transparent;
  }
 

  .result-container {
    display: flex;
     flex-direction: column;
     align-items: center;
  }

  .container-style {
    width: 100%;
    /* width: 350px;  */
    height: 617px;
    border-radius: 20px;
    border: 1px solid #7e2cd1;
    background: #fff;
    box-shadow: 0px 4px 8px 0px rgba(110, 110, 110, 0.25);
    margin-top: -172px;
    position: relative;
    z-index: 1;
  }
  .header-sty {
    position: relative;
    display: flex;
         justify-content: center;
         margin-top: 10px;
  }
  .done-link {
    color: #fff;
    text-align: right;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 900;
    margin-top: -70px;
  }

  .congratulations {
    color: #7e2cd1;
    text-align: center;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 900;
  }

  .qualification-text {
    color: #6a6a76;
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    /* width: 303px; */
    width: 100%;

  }
  .info-heading {
    color: #444;
    text-align: center;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
  }

  .prize-heading {
    color: #7e2cd1;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
  }

  .prize-amount {
    color: #4fd96d;
    text-align: center;
    font-size: 32px;
  }

  .current-balance {
    color: #444;
    text-align: center;
    font-size: 18px;
  }
}


@media only screen and (min-width: 735px)  {

}