.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 19px;
  gap: 94px;

}



 .your-result {
  margin-left: 122px;
  display: flex;
  justify-content: center;
  align-items: center;
} 
 
.your-result p {
  font-family: "AlpinoMedium";
  font-size: 18px;
  font-weight: 507;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}

.quitt{
  display: flex;
  align-items: center;
  justify-content: center;
}
 .quitt p {
  font-family: "AlpinoMedium";
  font-size: 14px;
  font-weight: 507;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: right;
  margin: 0 ;
}

.result-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  background: #f7f7f7;
}

.result-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.result-info .right {
  width: 18px;
  height: 18px;
  margin-top: -17px;
  background-color: #4fd96d;
  border-radius: 50px;
  padding: 3px;
}
.result-info .wrong {
  width: 18px;
  height: 18px;
  margin-top: -17px;
  background-color: red;
  border-radius: 50px;
  padding: 3px;
}
.info-heading {
  color: #444;
  font-family: "AlpinoBold";
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}

.info-value {
  color: #444;
  padding: 20px;
  font-family: "AlpinoBold";
  font-size: 12px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}

.prize-details {
  margin-top: 66px;
  width: 100%;
  height: 196px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prize-heading {
  color: #7e2cd1;
  padding-top: 32px;
  font-family: "AlpinoBlack";
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.prize-amount {
  color: #4fd96d;
  text-align: center;
  background: #e0f5e5;
  width: 155px;
  height: 52px;
  border-radius: 10px;
  font-family: "AlpinoBlack";
  font-size: 30px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: 0em;
  padding: 10px;
}

.current-balance {
  color: #444;
  font-family: "AlpinoBold";
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}

.result-text {
  text-align: center;
  margin-top: 57px;
  /* background: #f7f7f7; */
  background: linear-gradient(180deg, #973CF2 0%, #6868FF 100%);
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}
.result-text img {
  padding: 10px;
}
.congratulations {
  color: #7e2cd1;
  text-align: center;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 900;
  margin-top: 40px;
}

.qualification-text {
  color: #FFFFFF;
  font-family: "AlpinoRegular";
  font-size: 18px;
  font-weight: 421;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}
.replay-button {
  width: 100%;
  height: 50px;
  background-color: #973cf2;
  color: #ffffff;
  text-align: center;
  font-family: "AlpinoBlack";
  font-size: 14px;
  font-weight: 900;
  margin-top: 26px;
  border-radius: 30px;
  border: none;
  

}

.img-styl {
  width: 47px;
  height: 47px;
  margin-top: 36px;
}

.card-img-styl {
  background-color: #d9d9d9;
  width: 255px;
  height: 111px;
  display: flex;
  justify-content: center;
  margin-top: 13px;
}

.back-to-home {
  margin-top: 30px;
  color: #54349f;
  font-family: "AlpinoBlack";
  font-size: 14px;
  font-weight: 900;
  line-height: 16.41px;
  text-align: center;
  text-decoration: none;
}

@media only screen and (min-width: 263px) and (max-width: 280px) {
  .result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  .result-header{
    width: 100%;
  }

  .container-style {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid #7e2cd1;
    background: #fff;
    box-shadow: 0px 4px 8px 0px rgba(110, 110, 110, 0.25);
    margin-top: -122px;
  }
  .header-sty {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .done-link {
    color: #fff;
    text-align: right;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 900;
    margin-top: -70px;
  }

  .congratulations {
    color: #7e2cd1;
    text-align: center;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 900;
  }

  .qualification-text {
    width: 100%;
  }
  .info-heading {
    color: #444;
    text-align: center;
  }

  .prize-heading {
    color: #7e2cd1;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
  }

  .prize-amount {
    color: #4fd96d;
    text-align: center;
    font-size: 30px;
  }

  .current-balance {
    color: #444;
    text-align: center;
    font-size: 18px;
  }

  .result-info img {
    width: 12px;
    height: 12px;
    margin-top: -17px;
  }
  .info-value {
    color: #444;
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    padding: 12px;
  }
}

@media only screen and (min-width: 283px) {

  .loading-containerr {
    background-color: transparent;
    height: 100%;
    padding: 0;
  }
  .emp {
    background: #7f2cd1;
    width: 100%;
    height: 169px;
  }

  .result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .container-style {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid #7e2cd1;
    background: #fff;
    box-shadow: 0px 4px 8px 0px rgba(110, 110, 110, 0.25);
    margin-top: -122px;
  }
  .header-sty {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .done-link {
    color: #fff;
    text-align: right;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 900;
    margin-top: -70px;
  }

  .congratulations {
    color: #7e2cd1;
    text-align: center;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 900;
  }

  .qualification-text {
    width: 100%;
  }
  .info-heading {
    color: #444;
    text-align: center;
  }

  .prize-heading {
    color: #7e2cd1;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
  }

  .prize-amount {
    color: #4fd96d;
    text-align: center;
    font-size: 30px;
  }

  .current-balance {
    color: #444;
    text-align: center;
    font-size: 18px;
  }
}


