#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 242px;
  height: 100vh;
  float: left;
  background: #fff;
  box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
}

nav {
  padding: 20px;
}

nav ul {
  list-style: none;
}

nav li {
  display: flex;
  align-items: center;
  padding: 20px;
  color: #fff;
  cursor: pointer;
  text-decoration: none !important ;
}
nav li a {
  display: flex;
  align-items: center;
  text-decoration: none !important ;
}
nav li:hover {
  border-radius: 15px;
  background: var(--p2b, #ffec83);

}

nav a {
  text-decoration: none !important;
}

nav .spann {
  margin-left: 12px;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--N4, #1f1f1f);
}

.spann:hover {
  font-weight: 700 !important;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
}

.center img {
  width: 60%;
}

.center .greetings {
  padding: 8px;
  text-align: center;
  color: var(--N4, #1f1f1f);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.center .name {
  color: var(--N4, #1f1f1f);
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.center a {
  color: var(--N4, #1f1f1f);
  text-align: center;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  text-decoration-line: underline;
  padding: 10px;
}

.bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 25px;
}


.logout-img {
  padding: 10px;
}
.logout {
  color: var(--N4, #1f1f1f);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#detail {
  margin-left: 260px;
  padding: 20px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
