.advert-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: -146px; */
  margin-top: -88px;
  /* background-color: #f4f2f5; */
  background-color:  #08081E;
  padding: 20px;
  padding-bottom: 30px;

}

.content-loading{
  padding-top: 10px;
}

.advert {

  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}




.advert img {
  width: 100%;
  /* margin: 20px 0 -180px 0; */
  
}

@media (min-width: 768px) {
  .advert img{
    /* margin: 40px 0 -380px 0; */

  }
}

.advert p {
  font-family: "AlpinoBold";
  font-size: 16px;
  font-weight: 700;
  line-height: 21.76px;
  text-align: left;
}






