.button-box {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.button-box button {
  width: 209px;
  height: 72px;
  margin: 10px;
  border-radius: 16px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category-button {
  border-radius: 16px;
  background: var(--p1b, #8b8bff);
  color: white;
}

.icons {
  border-radius: 10px;
  background-color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.icons img {
  width: 20px;
  height: 20px;
}
.btn-text {
  display: block;
  padding: 10px;
  text-align: left;
}

.add {
  font-family: "Inter";
  font-size: 12px !important;
  font-weight: 400;
}
.categ {
  font-size: 14px !important;
  font-family: "Inter";
  font-weight: 400;
}

.que-btn {
  border-radius: 16px;
  background: var(--p2b, #ffec83);
}

.notif-btn {
  border-radius: 16px;
  background: var(--p3b, #ff90b3);
}
