.category-container {
  text-align: center;
  padding: 20px;
  background: #ffffff;
}

.category-heading {
  margin: 35px;
}
.category-heading h4 {
  color: #313131;
  text-align: center;
  font-family: "Roboto";
  font-size: 48px;
  font-weight: 900;
}

.category-heading p {
  color: #585858;
  text-align: center;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
}
.category-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-item {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 309px;
  height: 389px;
  margin: 0 6.5px;
}

.football h4 {
  color: #000000;
  font-family: "Inter";
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 600;
  padding-top: 14px;
}

.music h4 {
  color: #000000;
  font-family: "Inter";
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 600;
  padding-top: 14px;
}

.history h4 {
  color: #000000;
  font-family: "Inter";
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 600;
  padding-top: 14px;
}

.movie h4 {
  color: #000000;
  font-family: "Inter";
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 600;
  padding-top: 14px;
}

.play-cont {
  display: flex;
  align-items: center;
  padding-right: 5px;
}

.play {
  background: #54349f;
  width: 18.38px;
  height: 18.38px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 14px;
}
.play img {
  width: 10px;
  height: 10px;
}

.play-cont .play-no {
  color: #000000;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  padding-left: 5px;
}

.load-more {
  margin: 0 auto;
  width: 50%;
  padding: 6px 10px 6px 10px;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(114.59deg, #54349f -11.92%, rgba(0, 0, 0, 0) 105.24%)
      border-box;
  border-radius: 30px;
  border: 1px solid transparent;
  box-shadow: 0px 6px 24px 0px #0000001a;
  margin-top: 25px;
}

.load-more a {
  font-family: "Alpino";
  font-size: 16px;
  font-weight: 507;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

@media screen and (max-width: 283px) {
  .category-heading {
    margin: 0;
  }
  .category-heading h4 {
    font-size: 24px;
  }
  .category-heading p {
    font-size: 16px;
  }
  .category-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .category-item {
    width: 117px;
    height: 218px;
  }
}

@media only screen and (min-width: 285px) and (max-width: 767px) {
  .category-container {
    padding-bottom: 35px;
  }
  .category-heading h4 {
    font-size: 24px;
  }

  .category-heading p {
    font-size: 16px;
  }
  .category-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .category-item {
    width: 167px;
    height: 235px;
  }
}
