.categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.category-cont p {
  color: rgba(48, 48, 100, 0.4);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  padding: 10px;
}



.loading{
  color: rgba(48, 48, 100, 0.4);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  padding: 10px;
}




.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; 
  color: rgba(48, 48, 100, 0.4);

}

.option {
  cursor: pointer;
  padding: 5px;
  color: rgba(48, 48, 100, 0.40);
text-align: center;
font-family: "Inter,sans-serif";
font-size: 18px;
font-style: normal;
font-weight: 600;

}

.option.selected {
  color: rgba(48, 48, 100, 0.80);
  text-align: center;
  font-family: "Inter, sans-serif";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
 }
