.board {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  border: 1px solid rgba(48, 48, 100, 0.7);
  position: relative;
}

.board .leaderboardIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board img {
  width: 20px !important;
  height: 10px !important;
  margin: 2px 0 0 0 !important;
}

.icons-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 54px 0;
}

.icons-cont a {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  border: 1px solid rgba(48, 48, 100, 0.7);
  position: relative;
}

.icons-cont a img {
  width: 20px;
  height: 20px;
  margin: 7px;
}

.icons-cont a.selected {
  background-color: rgba(48, 48, 100, 1);
}

.icons-cont a.selected::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #a9a9de;
  position: absolute;
  bottom: -9px;
  left: 0;
}

.icons-cont a:hover {
  transform: scale(1.1);
  width: 41px;
  height: 41px;
}
