.contact-container {
  background: #f1edfc;
  padding-top: 30px;
}

.contact-section {
  text-align: center;
  padding: 50px;
  background: #000;
}
.contact-section h2 {
  color: #fff;
  text-align: center;
  font-family: "Alpino";
  font-size: 16px;
  font-weight: 507;
}

.contact-section p {
  color: #585858;
  text-align: center;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
}
.email-form {
  margin-top: 20px;
}

.email-form .email {
  color: #564383;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  width: 299px;
  height: 36px;
  border: none;
  border-radius: 0;
  outline: none;
  background: #fff;
  margin-right: 3px;
}
.email-form input::placeholder {
  color: #564383;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
}

.email-form .custom-button {
  background: #54349f;
  border: none;
  border-radius: 0;
  width: 160px;
  height: 36px;
  color: #fff;
  text-align: center;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 700;
  padding: 7px;
}

@media only screen and (min-width: 280px) and (max-width: 284px) {
  .contact-section h2 {
    color: #fff;
    text-align: center;
    font-family: "Alpino";
    font-size: 16px;
    font-weight: 507;
  }

  .contact-section p {
    color: #9c9c9c;
    text-align: center;
    font-family: "Alpino";
    font-size: 12px;
    font-weight: 421;
  }
  .email-form .email {
    width: 103px;
    height: 36px;
    margin-right: 2px;
  }

  .email-form .custom-button {
    width: 75px;
    height: 36px;
  }
}
@media only screen and (min-width: 285px) and (max-width: 365px) {
  .contact-section h2 {
    color: #fff;
    text-align: center;
    font-family: "Alpino";
    font-size: 16px;
    font-weight: 507;
  }

  .contact-section p {
    color: #9c9c9c;
    text-align: center;
    font-family: "Alpino";
    font-size: 12px;
    font-weight: 421;
  }
  .email-form .email {
    width: 174px;
    height: 36px;
  }

  .email-form .custom-button {
    width: 83px;
    height: 36px;
  }
}
@media only screen and (min-width: 366px) and (max-width: 767px) {
  .contact-section h2 {
    color: #fff;
    text-align: center;
    font-family: "Alpino";
    font-size: 16px;
    font-weight: 507;
  }

  .contact-section p {
    color: #9c9c9c;
    text-align: center;
    font-family: "Alpino";
    font-size: 12px;
    font-weight: 421;
  }

  .email-form .email {
    width: 170px;
    height: 36px;
  }

  .email-form .custom-button {
    width: 97px;
    height: 36px;
  }
}
