.contact-container {
  padding: 31px 0 80px 0;
  background-color: #000000;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-section h4 {
  font-family: "AlpinoMedium";
  font-size: 18px;
  font-weight: 507;
  line-height: 21.28px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}

.contact-section .contact-text {
  color: #9c9c9c;
  /* font-size: 12px; */
  margin: 0 25px 30px 25px;
  font-family: "AlpinoMedium";
  font-size: 18px;
  font-weight: 507;
  line-height: 21.28px;
  text-align: center;
}

.contact-section input {
  width: 90vw;
  height: 40px;
  padding: 10px;
  margin: 0 30px 13px 30px;
  border: 1px solid #00000066;
  border-radius: 20px;
  font-family: "AlpinoBold";
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  outline: none;
  padding-inline-start: 30px;
}

.contact-section input::placeholder {
  color: #000000;
  font-family: "AlpinoLight";
  font-weight: 307;
  text-align: left;
}

.contact-section input:focus {
  text-align: left;
}

.contact-section textarea {
  width: 90vw;
  height: 91px;
  padding: 10px;
  margin: 0 30px 0px 30px;
  border: 1px solid #00000066;
  border-radius: 20px;
  font-family: "AlpinoBold";
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  outline: none;
  padding-inline-start: 30px;
}

.contact-section textarea::placeholder {
  color: #000000;
  font-family: "AlpinoLight";
  font-weight: 307;
}

.success {
  color: yellow !important;
}

.contact-button {
  border-radius: 23px;
  color: #ffffff;
  font-family: "AlpinoMedium";
  font-size: 16px;
  font-weight: 500;
  width: 125px;
  height: 37px;
  background-color: #54349F66;
  border: none;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 23px;
}

.contact-button:hover{
  background-color: #54349f;

}

.contact-success-message{
  color: #9c9c9c;
  font-family: "AlpinoMedium";
  font-size: 18px;
  font-weight: 507;
  line-height: 21.28px;
  text-align: right;
padding-top: 20px;
}

@media screen and (min-width:768px) {

form{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-section input {
  width: 50vw;
  height: 40px;
  padding: 10px;
  margin: 0 30px 13px 30px;
  border: 1px solid #00000066;
  border-radius: 20px;
  font-family: "AlpinoBold";
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  outline: none;
  padding-inline-start: 30px;
}

.contact-section textarea {
  width: 50vw;
  height: 91px;
  padding: 10px;
  margin: 0 30px 0px 30px;
  border: 1px solid #00000066;
  border-radius: 20px;
  font-family: "AlpinoBold";
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  outline: none;
  padding-inline-start: 30px;
}

}