.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
}

/* .countdown-nine {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: 9px solid #dfdfdf;
  border-radius: 0px 3px 0px 0px;
  width: 60px;
  height: 60px;
} */

/* .countdown-nine img {
  border-radius: 6px;
  border: 9px solid #3e3ca7;
  background: #3e3ca7;
} */

/* .countdown-nine p {
  color: #6f6e9d;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
} */

.text-contn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 4em;
}

.text-contn p {
  color: #6f6e9d;
  text-align: center;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
}

.names .selection {
  color: #6f6e9d;
  text-align: center;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  padding: 25px;
}

.selection {
  border-radius: 11px;
  border: 3px solid #f1f1f1;
  width: 249px;
  margin: 10px auto !important;
}

.wrong-feedback {
  color: #d48c8c;
}

.correct-feedback {
  color: #8cd49c;
}
