
.create-user-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .create-user-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  .create-user-header .mobile-logo{
    width: 165px;

  }

  .create-user-header .desktop-logo{
    display: none;
  }
  .reg-form{
    width: 70vw;
  }
  
  .form-select{
      color: #CDCDCD;
      font-family: "Inter";
      font-size: 18px;
      font-style: normal;
      width: 100%;
  }
  .form-control:focus {
    outline:none !important;
    box-shadow: none !important;
    border: 2px solid #303064 !important;

  }


  .form-control{
    border-radius: 8px !important;
  }
  
  .form-control::placeholder{
      color: #CDCDCD;
      font-family: "Inter";
      font-size: 16px;
      font-style: normal;

  }
 
  .account{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

  }
  .account p {
    color: #acacc1;
    text-align: center;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
   padding: 10px;
  }
  
  .sign{
    color: #acacc1 !important;
    text-align: center;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
   /* padding: 20px; */
   text-decoration: none !important;
  }

  .error{
  color: #9494ba ;
  text-align: center  ;
  font-family: "Inter" ;
  font-size: 10px ;
  font-style: normal;
  font-weight: 500 
  }

  .success{
    color: #9494ba ;
  text-align: center  ;
  font-family: "Inter";
  font-size: 10px ;
  font-style: normal;
  font-weight: 500 
  }




@media (min-width: 767px){
  .reg-form{
    width: 25vw;
}
.create-user-header .desktop-logo{
  width: 265px;
  display: block;
  padding: 20px;
}
.create-user-header .mobile-logo{
  display: none;
}

}

@media (min-width: 912px)and (max-width:950px){
  .reg-form{
    width: 25vw;
}
.create-user-header .desktop-logo{
  width: 265px;
  display: block;
  padding: 20px;
}
.create-user-header .mobile-logo{
  display: none;
}
.desktop-images {
  display: block;
  position: relative;
}
.desktop-images .img1{
  width: 277px;
  height: 197px;
  position: absolute;
  top:350px ;
  left: 480px;
}

.desktop-images .img2{
  width: 277px;
  height: 197px;
  position: absolute;
  top:770px ;
  right: 500px;
}
.desktop-images .img3{
  width: 277px;
  height: 197px;
  position: absolute;
  top:760px ;
  right: 10px;
}

}

