.deposit-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000; 
   
    display: none;
  }
  .modal-open .deposit-overlay {
    display: block;
    pointer-events: none; 
    opacity: 0.5; 
  }

  .deposit-container.modal-open {
    filter: blur(5px); 
  }
 
.deposit-container{
    padding: 27px;
   
}

.deposit-text{
    display: flex;
    align-items: center;
}

.deposit-text p{
    margin:0 auto;
    font-family: "Alpino";
    font-size: 16px;
    font-weight: 421;
    line-height: 21px;
    letter-spacing: -0.3199999928474426px;
    text-align: center;
}

 .deposit-modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
  }
  .deposit-modal{
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }


  .deposit-modal-container p{
      color: #242424;
      font-family: "Alpino";
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      
  
  }
  
  .deposit-modal-container input{
      border: 2px solid #E8E8E8;
      border-radius: 10px;
      margin: 20px;
      width: 75%;
      padding: 10px;
      outline: none;
  }
  .deposit-modal-container input::placeholder{
      color: #CDCDCD;
  
  }
  
  .error-message{
      color: red;
  }
  
  .success-message{
      color: green ;
  }

  .error-modal{
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  

  .error-modal button{
    width: 253px;
    height: 48px;
    color: #fff;
    border: none;
    border-radius: 24px ;
  }

  .close-payment{
    width: 253px;
    height: 48px;
    color: #fff;
    border: none;
    border-radius: 24px ;
    background-color: rgb(151, 60, 242);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;

  }


  @media screen and (min-width:750px) {

    .close-payment{
      width: 253px;
      height: 48px;
      color: #fff;
      border: none;
      border-radius: 24px ;
      background-color: rgb(151, 60, 242);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px auto;
    }
    
  }