.faq {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq-close-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-close-cont h4 {
  color: #9494ba !important;
  text-align: center !important;
  font-family: "Inter", sans-serif;
  font-size: 24px !important;
  font-style: normal;
  font-weight: 700 !important;
}

.faq-close-img-cont {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 40px;
}

.faq-container {
  border: 1px solid #e8e8e8;
  background: rgba(214, 214, 246, 0.2);
  padding: 30px;
}

.faq-header-cont {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
}

.faq-header {
  color: #9494ba !important;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.reward-cont {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
}

.rwd-support-cont {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
}

.learn-more {
  color: #303064;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  text-decoration-line: underline;
  display: flex;
  justify-content: center;
}
