.footer-container {
  padding: 20px 0 80px 0;
  background-color: #07071d;
}

.footer {
  padding: 20px 0 0 47px;
  display: flex;
  align-items: center;
  gap: 31px;
}

.footer-links {
  /* padding-top: 24px; */
  /* display: grid;
  grid-template-columns: repeat(2, 2fr); */
  /* margin-left: 60px; */
  padding: 20px 0 0 47px;
  gap: 10px;
  width: 100vw;
  color: #ffffff;
}
.explore,
.legal,
.about{
  font-family: "AlpinoBold";
font-size: 14px;
font-weight: 700;
line-height: 19.04px;
text-align: left;

}

.legal,
.about{
margin-top: 30px;
}

.explore-links,
.legal-links,
.about-links {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 12px;
  margin-left: -19px;
  font-family: "AlpinoRegular";
  font-size: 14px;
  font-weight: 421;
  line-height: 18.34px;

}

.footer-links .links {
  color: #ffffff;
  padding-right: 30px;
  text-decoration: none;
  font-family: "AlpinoRegular";
  font-size: 14px;
  font-weight: 421;
  line-height: 18.34px;
  text-align: center;
}

@media screen and (max-width: 290px) {
}
