.footer-section {
  background-color: #bab1cf;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-columns {
  display: flex;
}

.column {
  flex: 1;
  padding: 20px;
 
}

.column h4 {
  color: #191919;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 700;
}

.column a {
  color: #191919;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.footer-logo {
  padding-right: 10%;
}

@media only screen and (min-width: 280px) and (max-width: 284px) {
  .footer-section {
    padding: 0px;
  }
  .column {
    flex: 0;
    padding: 20px;

  }
  .column h4{
    font-size: 14px;
  }

  .column a {
    font-size: 14px;
    text-align: center;
  }
  
  .footer-logo {
    position: absolute;
    top: 340%;
    left: 66%;
  }

  .footer-logo img {
    width: 85px;
    height: 15.367px;
  }
}
@media only screen and (min-width: 285px) and (max-width: 705px) {

  /* .footer-section {
    padding: 0px;
  }
  .column {
    flex: 0;
    padding: 20px;

  }
  
  .footer-logo {
    position: absolute;
    top: 327%;
    left: 68%;
  }

  .footer-logo img {
    width: 85px;
    height: 15.367px;
  } */
  .footer-logo img {
    width: 85px;
    height: 15.367px;
  }
}
