.game-container {
  background-color: #e5c853 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.close-img-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-info {
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  padding: 40%;
}

.game-info h4 {
  color: #303064 !important;
  text-align: center !important;
  font-family: "Inter" !important;
  font-size: 48px !important;
  font-style: normal !important;
  font-weight: 700 !important;
}

.game-info p {
  color: #303064 !important;
  text-align: center !important;
  font-family: "Inter" !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 700 !important;
}

