.hero-section {
  background-image: url(../assets/Images/bg-img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  width: 1512px;
  /* height: 513px; */
  max-width: 100%;
  padding: 120px;
}

.hero-text h3 {
  color: #fcfaf7;
  font-family: "Roboto";
  font-size: 44px;
  font-weight: 900;
}

.hero-text p {
  color: #fcfaf7;
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 400;
}
.hero-btn-container {
  padding-top: 50px;
}
.hero-btn {
  color: #272d1e;
  text-align: center;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 600;
  width: 208px;
  height: 50px;
}

@media only screen and (min-width: 263px) and (max-width: 283px) {
.hero-btn-container{
  position: absolute;
  right: 22%;
}


}

@media (max-width: 768px) {
    .hero-section {
      flex-direction: column;
      align-items: center;
    }
  
    .hero-text {
   
    }
   

    .hero-text h3 {
      
        font-size: 30px;
      
      }

      .hero-text p {
       
        font-size: 24px;
       
      }
    .hero-btn-container {
      margin-bottom: 35px; 
    }

  .hero-btn{
    width: 200px;
  }
  }