

.gen-stats {
  display: flex;
  width: 100%; 
  max-width: 1000px;
}

.box {
  width: 712px;
  height: 452px;
  padding: 20px;
  border-radius: 21px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px -1px 0px 0px rgba(0, 0, 0, 0.1);
}

.box p {
  color: var(--N4, #1f1f1f);
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding: 10px;
}
.stats-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stats-text p {
  color: var(--N4, #1f1f1f);
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.stats-text p:hover {
  color: var(--P1, #1d1db9);
  text-align: center;
  font-weight: 500;
  border-bottom: 3px;
  border-color: var(--P1, #1d1db9);
  cursor: pointer;
}

.category-text-box {
  display: flex;
}
.category-para {
  color: var(--N1, #fff) !important;
  text-align: center;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 700 !important;
  border-radius: 20.5px;
  background-color: var(--p1b, #8b8bff);
}
.button-box {
  display: flex; 
   flex-direction: column; 
  margin-left: 20px;
}

.button-box button {
  width: 209px;
  height: 72px;
  margin: 10px;
  border-radius: 16px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category-button {
  border-radius: 16px;
  background: var(--p1b, #8b8bff);
  color: white;
}

.icons {
  border-radius: 10px;
  background-color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center; 
  border: none;
}

.icons img{
  width: 20px;
  height: 20px;
}
.btn-text {
  display: block;
  padding: 10px;
  text-align: left;
}

.add {
  font-family: "Inter";
  font-size: 12px !important;
  font-weight: 400;
}
.categ {
  font-size: 18px !important;
  font-family: "Inter";
  font-weight: 400;

}

.que-btn {
  border-radius: 16px;
  background: var(--p2b, #ffec83);
}

.notif-btn {
  border-radius: 16px;
  background: var(--p3b, #ff90b3);
}
.category-performance {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
}
.category-box {
  border-radius: 21px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 312px;
  height: 262px;
  margin-top: 20px;
}

.performance{
  color: #000;
font-family:"Inter";
font-size: 20px;
font-style: normal;
font-weight: 500;
padding: 10px;
}
.winners {
  width: 720px;
  height: 282px;
  margin: 20px;
  border-radius: 21px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.winners-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.winners-details .win{
  color: var(--N4, #1F1F1F);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 500;
}

.winners-details .date{
color: var(--p1a, #303064);
text-align: right;
font-family: "Inter";
font-size: 16px;
font-weight: 700;
text-decoration-line: underline;
}