.landing-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.landing-screen-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.category-tab-img-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #fff;
  padding: 20px;
  background-color: #303064;
  width: 12.073px;
  height: 12.073px;
}
.category-tab-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.hand-down {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}



.categories-containerr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.category-option{
  color: rgba(48, 48, 100, 0.80);
text-align: center;
font-family: "Inter",sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;

}
.option {
  cursor: pointer;
  padding: 5px;
  color: rgba(48, 48, 100, 0.40);
text-align: center;
font-family: "Inter,sans-serif";
font-size: 18px;
font-style: normal;
font-weight: 600;

}

.option.selected {
  color: rgba(48, 48, 100, 0.80);
  text-align: center;
  font-family: "Inter, sans-serif";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
 }

.category-tab-texxt {
  font-family: "Inter", sans-serif !important;
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #303064;
}

.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; 
  color: rgba(48, 48, 100, 0.4);

}
