.landing-screen-container {
  position: absolute;
  top: 172px;
  left: 45px;
}

.landing-screen-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.category-tab-img-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #fff;
  padding: 20px;
  background-color: #303064;
  width: 12.073px;
  height: 12.073px;
}
.category-tab-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.hand-down {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.categories-tab-container {
  padding: 20px;
}

.category-tab-texxt {
  font-family: "Inter", sans-serif !important;
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #303064;
}
