.table-container {
  border-radius: 0px 0px 3px 3px !important;
  background: #fff !important;
  box-shadow: 0px 3px 5px 3px #e9e9e9;
}

.thead {
  border-color: inherit !important;
  border-style: solid !important;
  border-width: 0 !important;
}

th {
  border-radius: 3px 3px 0px 0px !important;
  background-color: rgba(40, 40, 120, 0.7) !important;
  color: #fff !important;
  text-align: center !important;
  font-family: "Krub", sans-serif !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 700 !important;
}

tbody {
  border-color: #e9e9e9 !important;
  border-style: solid !important;
  border-width: 0 !important;
}

td {
  color: #939393 !important;
  text-align: center !important;
  font-family: "Krub", sans-serif !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 500 !important;
}
a {
  color: #6969a1 !important;
  text-align: center;
  font-family: "Krub", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  text-decoration-line: underline !important;
}

.img {
  width: 10px;
  height: 10px;
}

.more-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
