.landing-page-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 47px 0 47px;
  position: relative;
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 0;
}

.empty-img{
  margin-top: 20px;
  flex: 1;
}

.logo-container {
  flex: 2;
  display: flex;
  justify-content: center;
}

.hamburger-menu {
  flex: 1; 
  display: flex;
  justify-content: flex-end; 
}



.logo-container .logo-icon {
  position: relative; 
}



@media screen and (max-width:344px){
  
.logo-container {
  margin: 0 20px;
}
}
@media screen and (min-width:370px) and (max-width:378px){
  .menu-header{
    margin-bottom: 20px;
  }

}


@media screen and (min-width:768px) and (max-width:810px){
  .menu-header{
    margin-bottom: 20px;
  }

  
  }


  @media screen and (min-width:820px) and (max-width:909px){
    .menu-header{
      margin-bottom: 20px;
    }
  
    
    }


    @media screen and (min-width:910px) and (max-width:1300px){
      .menu-header{
        margin-bottom: 20px;
      }
    
     
      }




     
