.landing-page-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 30px;
  position: relative;
}
.menu-header {
  display: flex;
  align-items: center;
}

.logo-container {
  margin: 0 129px;
}
.logo-container .logo-icon{
  position: absolute;
}

.hamburger-menu img{
  margin-top: 20px;
  margin-right: 10px;
}


@media screen and (max-width:290px){
  
.logo-container {
  margin: 0 95px;
}
}