.categories-container {
  text-align: center;
  background: #08081E;
  padding: 34px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories-heading h4 {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  font-family: "AlpinoBold";
  line-height: 32.64px;
  text-align: center;
  margin-bottom: 5px;
}

.categories-heading p {
  color: #FFFFFF;
  font-family: "AlpinoRegular";
  font-size: 16px;
  font-weight: 421;
  line-height: 20.96px;
  text-align: center;
  margin: 0;
}
.categoryy-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 22px;
  padding-top: 30px;
}

.category-item {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.category-item h4 {
  color: #FFFFFF;
  font-family: "AlpinoBold";
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 600;
  padding-top: 5px;
  margin-bottom: 0px;
 

}

.category-item .category-logo-img {
  width: 155px;
  height: 155px;
  border-radius: 5px;


}
.categories-btn-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
.count-container {
  display: flex;
  align-items: center;
}

.play-img {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(153, 153, 153, 0.32) 100%);
  border-radius: 50%;
  width: 18.38px;
  height: 18.38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-img img {
  width: 10.38px;
  height: 10.38px;
  /* filter: url("black"); */
}

.total-countt {
  padding-left: 5px;
  margin: 0;
  font-family: "AlpinoRegular";
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  color: #FFFFFF;
}

.total-countt-btn{
  background-color: #54349F;
  box-shadow: 0px 6px 24px 0px #0000001A;
  border: none;
  border-radius: 30px;
  padding: 7.5px 24.5px;
  color: #FFFFFF;
  margin-top: 8px;
}

.music h4 {
  color: #FFFFFF;
  font-family: "AlpinoBold";
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 600;
  padding-top: 5px;

 

}

.history h4 {
  color: #FFFFFF !important;
  font-family: "AlpinoBold";
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 600;
  padding-top: 5px;
}

.movie h4 {
  color: #FFFFFF !important;
  font-family: "AlpinoBold  ";
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 600;
  padding-top: 5px;
}

@media screen and (max-width: 380px) {
  .category-item {
    width: 46%;
  }
}


@media screen and (min-width:768px) {
  .categories-container {
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

  }

  .categoryy-grid{
    margin-bottom: 30px;
  }
}




.categories-container.blur {
  filter: blur(5px);
  pointer-events: none;
}

.backdropp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.menu-pagee {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1100;
  transition: right 0.3s ease;
}

.menu-pagee.menu-openn {
  right: 0;
}

.menuu {
  padding: 20px;
}



.close-icon {
  cursor: pointer;
}


.login-divv,
.signup-divv {
  position: relative;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.login-divv.hidden,
.signup-divv.hidden {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.additional-contentt {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 588px;
}


.content-linkss {

  color: #6868ff;
  text-align: center;
  font-family: "AlpinoMedium";
  font-size: 16px;
  font-weight: 507;
  text-decoration: none;
  padding: 10px;
}

.content-linkss img {
  margin-right: 10px;
}
