.categories-container {
  text-align: center;
  background: #ffffff;
  margin: 34px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories-heading h4 {
  color: #262626;
  font-size: 24px;
  font-weight: 700;
  font-family: "AlpinoBold";
  line-height: 32.64px;
  text-align: center;
  margin-bottom: 5px;
}

.categories-heading p {
  color: #262626;
  font-family: "AlpinoRegular";
  font-size: 16px;
  font-weight: 421;
  line-height: 20.96px;
  text-align: center;
  margin: 0;
}
.categoryy-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 22px;
  padding-top: 30px;
}

.category-item {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.category-item h4 {
  color: #000000;
  font-family: "AlpinoBold";
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 600;
  padding-top: 5px;
  margin-bottom: 8px;
}

.category-item .category-logo-img {
  width: 155px;
  height: 155px;
  border-radius: 5px;


}

.count-container {
  display: flex;
  align-items: center;
}

.play-img {
  background-color: #54349f;
  border-radius: 50%;
  width: 18.38px;
  height: 18.38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-img img {
  width: 10.38px;
  height: 10.38px;
}
.total-countt {
  padding-left: 5px;
  margin: 0;
  font-family: "AlpinoRegular";
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  color: #262626;
}

.music h4 {
  color: #000000;
  font-family: "AlpinoBold";
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 600;
  padding-top: 5px;
}

.history h4 {
  color: #000000;
  font-family: "AlpinoBold";
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 600;
  padding-top: 5px;
}

.movie h4 {
  color: #000000;
  font-family: "AlpinoBold  ";
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 600;
  padding-top: 5px;
}

@media screen and (max-width: 380px) {
  .category-item {
    width: 46%;
  }
}
