
/* .search-card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    margin-top: 20px;
    background-color:#00000026;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-card h3 {
    margin-top: 0;
  }
  
  .search-card ul {
    list-style-type: none;
    padding: 0;
  }
  
  .search-card ul li {
    margin-bottom: 8px;
  }
  
  .search-card button {
    margin-top: 12px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-card button:hover {
    background-color: #0056b3;
  }
   */






  