h4 {
  color: #9494ba !important;
  text-align: center !important ;
  font-family: "Inter", sans-serif !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 700 !important;
}
.vol-container audio{
margin: 10px;
}

.blur-background {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.blur{
  filter: blur(5px);
}


.vol {
  color: #a3a3a3;
  font-family: "Krub";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-align: left !important;
  padding: 10px;
}

.vol-icon-container {
  display: flex;
  align-items: center;
}

input {
  padding: 5px;
}
.slider-slider {
  appearance: none;
  -webkit-appearance: none;
  width: 80%;
  height: 5px;
  border-radius: 5px;
  background-color: #5555a2;
  margin: 15px;
}


.slider-disbled {
  background-color: #e5e5e5;
}


::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #5555a2;
  border-radius: 50%;
  cursor: pointer;
}

.lang-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lang {
  color: #a3a3a3;
  font-family: "Krub", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-align: left !important;
  margin-top: 10px;
}
.default-card {
  border-radius: 5px;
  border: 3px solid #d6d6d6;
  background: #6e6ed2;
  width: 190px;
  max-width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin:  10px; */
}
.default {
  color: #f1f1f1;
  font-family: "Krub", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding: 10px;
}


.language-select{
  color: #9494ba !important;
  text-align: center !important ;
  font-family: "Inter", sans-serif !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 700 !important;
}

.lang-options{
  color: #9494ba !important;
  text-align: center !important ;
  font-family: "Inter", sans-serif !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 700 !important;
}

.loading{
display: flex;
justify-content: center !important;
align-items: center;
}

@media screen and (max-width:290px) {
  .vol-container audio{
    width: 85% ;
    margin: 10px;
 
  }

 
}