.sign-in-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sign-in-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.form{
    width: 70vw;
}

.form-select{
    color: #CDCDCD;
    font-family: "Inter",sans-serif;
    font-size: 18px;
    font-style: normal;
    width: 100%;
}

.form-control::placeholder{
    color: #CDCDCD;
    font-family: "Inter",sans-serif;
    font-size: 18px;
    font-style: normal;
}

.fill-info {
  color: #acacc1;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
 padding: 20px;
}


.create{
    color: #acacc1 !important;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none !important;
 padding: 5px;
}


@media (min-width: 768px) {
  .form-select {
    width: 100px;
  }
  option{
    width: 300px;
  }
}

@media screen and (max-width:290px) {
  .account{
    padding: 0% !important;
  }

 
}