thead tr th{
color: var(--N4, #1F1F1F);
font-family: "Inter";
font-size: 12px;
font-weight: 400 ;
padding:0 20px ;
}

tbody tr td{
font-family: "Inter";
color: var(--N4, #1F1F1F);
font-size: 16px;
font-weight: 400;
padding: 2px 50px;
}