.category-container {
    text-align: center;
    background: #ffffff;
    padding: 34px 0 108px 0;
  }
  
  .category-heading {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .category-heading h4 {
    color: #262626;
    font-size: 24px;
    font-weight: 700;
    font-family: "AlpinoBold";
    line-height: 32.64px;
    text-align: left;
    margin-left: 0px;
    margin-top: -44px;
  }
  
  .category-heading p {
    color: #262626;
    font-family: "AlpinoRegular";
    font-size: 16px;
    font-weight: 421;
    line-height: 20.96px;
    text-align: left;
    margin-left: 0px;
  }
  .category-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 22px;
    margin-top: 20px;
  }
  
  .category-item {
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  .category-item .category-images {
    width: 155px;
    height: 155px;
    border-radius: 5px;
    background: #9B9B9B;
  
  
  }
  
  .countt-container h4 {
    color: #000000;
    font-family: "AlpinoMedium";
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 600;
    padding-top: 14px;
    margin: 0;
  }

  .category-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .play-btn{
   background-color: #54349F;
   box-shadow: 0px 6px 24px 0px #0000001A;
   font-family: "AlpinoBold";
   font-size: 12px;
   font-weight: 700;
   line-height: 16.32px;
   text-align: center;
   border-radius: 30px;
   color: #ffffff;
   border: none;
   padding: 7px 24px 7px 24px;
   
   
  }
  
 
  
  .total-count {
    padding-left: 0px;
    margin: 0;
    font-family: "AlpinoRegular";
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: #262626;
  }
  
  .music h4 {
    color: #000000;
    font-family: "AlpinoMedium";
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 600;
    padding-top: 14px;
  }
  
  .history h4 {
    color: #000000;
    font-family: "AlpinoMedium";
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 600;
    padding-top: 14px;
  }
  
  .movie h4 {
    color: #000000;
    font-family: "AlpinoMedium";
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 600;
    padding-top: 14px;
  }