.loading-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../../assets/Images/loading1.png'), url('../../assets/Images/loading2.png'), url('../../assets/Images/loading3.png'), url('../../assets/Images/loading4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  animation: animateBackground 20s infinite linear;
}

@keyframes animateBackground {
  0% { background-position: 0% 0%; }
  25% { background-position: 50% 50%; }
  50% { background-position: 100% 100%; }
  75% { background-position: 50% 50%; }
  100% { background-position: 0% 0%; }
}

.loading-glassmorphism{
  height: 50vh;
}

.trivia-progress {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
.trivia-progress h4{
    color: #FFFFFF;
  text-align: center;
  font-family: "AlpinoBold";
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  padding-top: 14px;
}

.trivia-progress p {
    color: #FFFFFF;
    text-align: center;
    font-family: "AlpinoBold";
    font-size: 14px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    padding-top: 21px;
  } 


.progressbar {
    margin-top: 50px;
    padding: 10px;
    width: 70vw;
  }


  .welcom-btn {
    outline: none;
    border: none;
    width: 189px;
    height: 49px;
    border-radius: 30px;
    background: #54349f;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.1);
    color: #fff;
    text-align: center;
    font-family: "AlpinoBold";
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    margin-top: 74px;
  }







  