.loading-container {
  background-color: #230640;
  padding: 20px;
  /* width: 1012px; */
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo-cont {
  color: #eed7fb;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 900;
}
.trivia-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.trivia-progress {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.trivia-progress img {
  margin-bottom: 50px;
}

.progressbar {
  margin-top: 50px;
  padding: 10px;
  width: 100%;
}

.welcome-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 19px;
}

.welcome {
  color: #f9eeff;
  text-align: center;
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 900;
}
.yd-span {
  opacity: 0.7;
  color: #ffd700;
  font-family: "Roboto";
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.welcom-btn {
  background-color: rgba(255, 215, 0, 1);
  outline: none;
  border: none;
  box-shadow: rgba(0px 2px 8px rgba(255, 215, 0, 0.4));
  border-radius: 20px;
  width: 162px;
  height: 40px;
}
@media (max-width: 768px) {
  .loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .trivia-progress  {
    margin-top: -70px;
  }
  .trivia-progress img {
    margin-bottom: 87px;
  }
  span {
    color: rgba(255, 215, 0, 0.8);
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 900;
  }

  .logo-cont {
    color: #f9eeff;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 200px;
  }
}
