.profile-container {
  padding: 40px 140px;
}

.profile-header {
  position: relative;
}

.profile-header h1 {
  color: #422671;
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 700;
}

.profile-header h2 {
  color: #483a4c;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
}

.profile-content {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.user-stats h4 {
  color: #3a464c;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 600;
}

.user-info-card {
  width: 300px;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stats {
  margin-top: 10px;
}

@media only screen and (min-width: 263px) and (max-width: 930px) {
  .profile-header h1 {
    position: absolute;
    top: 29px;
    left: 150px;
    color: #fff;
    text-align: center;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 700;
  }

  .profile-header h2 {
    display: none;
  }

  .user-stats h4 {
    position: absolute;
    top: 397px;
    left: 38px;
    z-index: 1;
    color: #aeb2b8;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 600;
  }
}





