.account-container.modal-open {
  filter: blur(5px);
  pointer-events: none;
  background-color: #53535366;
}

.account-text {
  display: flex;
  align-items: center;
  padding: 27px;
}

.account-text p {
  margin: 0;
  width: 100%;
  font-family: "AlpinoRegular";
  font-size: 18px;
  font-weight: 421;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: center;
}

.current-balance-cont {
  padding: 0 27px;
  margin: -20px 0;
}
.experience-pt {
  color: #7e2cd1;
  font-family: "AlpinoMedium";
  font-size: 24px;
  font-weight: 507;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
}
.current-balance-cont .current-bal {
  font-family: "AlpinoRegular";
  font-size: 14px;
  font-weight: 421;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  color: #747474;
  margin: 0;
  padding-bottom: 13px;
}

.bal-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.amount-balance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -22px 0;
}

.balances {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 24px 13px 24px;
  color: #747474;
}

.hidden-amount {
  margin: 0;
  padding: 0 24px;
}

.balances p {
  font-family: "AlpinoRegular";
  font-size: 16px;
  font-weight: 421;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: left;
}

.token-bal {
  display: flex;
  align-items: center;
  gap: 90px;
  padding-left: 24px;
  /* padding: 8px 24px 13px 24px; */
}
.tokens {
  font-family: "AlpinoMedium";
  font-size: 24px;
  font-weight: 507;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: center;
  color: #005505;
  margin: 0;
}
.token-xperience {
  color: #005505;
  font-family: "AlpinoMedium";
  font-size: 24px;
  font-weight: 507;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: left;
  margin: 0;
}

.eye-icon {
  padding-right: 27px;
}

.date {
  font-family: "AlpinoRegular";
  font-size: 18px;
  font-weight: 421;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  color: #000000;
  margin-top: -30px;
}

.transaction-options {
  display: flex;
  align-items: center;
  margin: 15px 0;
  gap: 16px;
}

.withdraw-option {
  width: 93px;
  height: 76px;
  border-radius: 20px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.withdraw-option img {
  padding: 17px 0 5px 0;
}

.withdraw-option p {
  font-family: "AlpinoRegular";
  font-size: 14px;
  font-weight: 421;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: center;
  color: #000000;
}

.deposit-option {
  width: 93px;
  height: 76px;
  border-radius: 20px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.deposit-option img {
  padding: 17px 0 5px 0;
}
.deposit-option p {
  font-family: "AlpinoRegular";
  font-size: 14px;
  font-weight: 421;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: center;
  color: #000000;
}

.no-trans {
  padding: 0 24px;
}

.history-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 67px 24px 17px 24px;
}

.history-text h2 {
  font-family: "AlpinoRegular";
  font-size: 16px;
  font-weight: 421;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: center;
  color: #979797;
}

.history-text p {
  font-family: "AlpinoMedium";
  font-size: 14px;
  font-weight: 507;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #7e2cd1;
}

.history-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 27px;
}

.game-win {
  display: flex;
  align-items: center;
  gap: 19px;
}
.green-dot {
  background: #4fd96d;
  width: 12px;
  height: 12px;
  border-radius: 30px;
}
.game-win p {
  margin: 0;
  font-family: "AlpinoMedium";
  font-size: 14px;
  font-weight: 507;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: left;
  color: #000000;
}

.amount-date p {
  margin: 0;
  font-family: "AlpinoMedium";
  font-size: 14px;
  font-weight: 507;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: right;
}

.line {
  margin-left: 27px;
}

.red-dot {
  background: #e75885;
  width: 12px;
  height: 12px;
  border-radius: 30px;
}

.withdrawal {
  display: flex;
  align-items: center;
  gap: 19px;
}

.withdrawal p {
  margin: 0;
  font-family: "AlpinoMedium";
  font-size: 14px;
  font-weight: 507;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: left;
}



.transaction-list {
  list-style-type: none;
  padding: 0;
}



.transaction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  position: relative;
  border-bottom: 1px solid #d9d9d9;
}

.transaction-item::before {
  content: "\2022";
  color: #4fd96d;
  font-weight: bold;
  font-size: 50px;
  position: absolute;
  left: 0;
  top: 40%;
  transform: translateY(-50%);
}

.transaction-left {
  flex: 1;
}

.transaction-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}

.history-details {
  margin-bottom: 5px;
  padding-left: 10px;
}

.description {
  font-family: "AlpinoMedium";
  font-size: 14px;
  font-weight: 507;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: left;
  margin: 0;
}

.amount {
  color: #000;
  order: 1;
  font-family: "AlpinoMedium";
  font-size: 14px;
  font-weight: 507;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  /* text-align: right; */
  margin: 0;
}

.datee {
  color: #000;
  order: 2;
  font-family: "AlpinoRegular";
  font-size: 14px;
  font-weight: 421;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: right;
  margin: 0;
}
