.user-profile {
  font-family: "Alpino";
  background-color: #f4f4f4;
  height: 100vh;
}

.header-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.header-text .user-prof-heading {
  margin: 0;
  font-family: "AlpinoRegular";
  font-size: 18px;
  font-weight: 421;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: center;
  color: #000;
  margin-left: 30px;
}

.edit-user-profile {
  font-family: "AlpinoRegular";
  font-size: 16px;
  font-weight: 421;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: center;
  margin: 0 auto;
}

.header-text p {
  color: #7e2cd1;
  font-size: 14px;
  font-family: "AlpinoRegular";
  font-weight: 421;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  cursor: pointer;
}

.user-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.avatar p {
  background-color: #973cf2;
  color: #ffffff;
  width: 72px;
  height: 72px;
  font-size: 24px;
  font-family: "AlpinoMedium";
  font-weight: 507;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  border-radius: 50%;
}

.avatar img {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 49px;
  left: 46px;
  /* padding: 2.88px, 3px, 4px, 3px; */
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 9px;
}

.user-info .phone-number {
  margin: 0;
  background: #6868ff33;
  color: #7e2cd1;
  width: 164px;
  height: 29px;
  padding: 5px 8px 5px 8px;
  border-radius: 7px;
  font-family: "AlpinoRegular";
  font-size: 16px;
  font-weight: 421;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: center;
}

.user-info .user-name {
  font-family: "AlpinoMedium";
  font-size: 20px;
  font-weight: 507;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: center;
  color: #000000;
}

.user-stats {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info-heading {
  width: 327px;
  height: 46px;
  border-radius: 16px;
  background: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info-heading h3 {
  font-family: "AlpinoRegular";
  font-size: 16px;
  font-weight: 421;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: center;
  color: #000000;
  margin: 0;
}

.user-info-deets {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}

.user-deetails-info {
  width: 328px;
  height: 100%;
  border-radius: 16px;
  background: #ffffff;
  border: 13px solid #f4f4f4;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 33px;
}

.gem {
  display: flex;
  justify-content: space-between;
}
.gemm,
.prz,
.question,
.ans,
.total-answers {
  font-family: "AlpinoRegular";
  font-size: 16px;
  font-weight: 421;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: left;
  color: #3c3c3c;
}
.gem-no,
.prz-no,
.question-ans,
.ans-percent,
.answerws {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 507;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: right;
  color: #000000;
}

.prize {
  display: flex;
  justify-content: space-between;
}

.current {
  display: flex;
  justify-content: space-between;
}

.right {
  display: flex;
  justify-content: space-between;
}

.total {
  display: flex;
  justify-content: space-between;
}

.edit-mode {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.edit-mode label {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  text-align: left;
  font-family: "AlpinoRegular";
  font-size: 12px;
  font-weight: 421;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: left;
}
.input-field {
  width: 90vw;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #00000066;
  border-radius: 10px;
  font-family: "AlpinoMedium";
  font-size: 20px;
  font-weight: 507;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
}

.input-field::placeholder {
  font-family: "AlpinoRegular";
  font-size: 18px;
  font-weight: 421;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: left;
  color: #00000080;
}

.save-button {
  width: 90vw;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background: #973cf266;
  font-family: "AlpinoMedium";
  font-size: 16px;
  font-weight: 507;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: center;
  margin-top: 200px;
}

.save-button.active {
  background-color: #973cf2;
}

.logout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  border: none;
  color: #54349f;
  cursor: pointer;
  font-family: "AlpinoMedium";
  font-size: 20px;
  font-weight: 507;
  line-height: 21px;
  text-align: center;
}

.backdropp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0px);
  z-index: 999;
}

.logout-modal {
  width: 90%;
  max-width: 340px;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  opacity: 1;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.logout-modal .logout-modal-content {
  text-align: center;
}

.logout-modal .close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.logout-modal h3 {
  margin: 0;
  font-family: "AlpinoRegular";
  font-size: 24px;
  font-weight: 421;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: center;
  color: #000000;
}

.logout-modal p {
  margin-top: 12px;
  font-family: "AlpinoRegular";
  font-size: 16px;
  font-weight: 421;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: center;
  color: #747474;
}

.logout-modal .modal-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.logout-modal .cancel-button,
.logout-modal .confirm-logout-button {
  padding: 10px 20px;
  cursor: pointer;
  color: #ffffff;
  outline: none;
  border: none;
}

.logout-modal .cancel-button {
  background-color: #54349f;
  font-family: "AlpinoRegular";
  font-size: 12px;
  font-weight: 421;
  line-height: 15.72px;
  text-align: center;
  border-radius: 50px;
}

.logout-modal .confirm-logout-button {
  color: #54349f;
  border: none;
  background-color: transparent;
  font-family: "AlpinoRegular";
  font-size: 12px;
  font-weight: 421;
  line-height: 15.72px;
  text-align: center;
}

@media (max-width: 480px) {
  .logout-modal {
    width: 90%;
    max-width: 300px;
    height: auto;
    top: 43%;
    position: fixed;
  }
}


@media (min-width: 700px) and (max-width: 1050px) {
  .logout-modal {
    width: 90%;
    max-width: 300px;
    height: auto;
    top: 30%;
    position: fixed;
  }
}