*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
}

.container {
  max-width: 100%; 
  overflow: hidden; 

}

@font-face {
    font-family: "AlpinoRegular";
    src: url("./assets/Fonts/Alpino_Complete/Fonts/WEB/fonts/Alpino-Regular.eot");
    src: url("./assets/Fonts/Alpino_Complete/Fonts/WEB/fonts/Alpino-Regular.ttf")
        format("truetype"),
      url("./assets/Fonts/Alpino_Complete/Fonts/WEB/fonts/Alpino-Regular.woff")
        format("woff"),
      url("./assets/Fonts/Alpino_Complete/Fonts/WEB/fonts/Alpino-Regular.woff2")
        format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "AlpinoBlack";
    src: url("./assets/Fonts/Alpino_Complete/Fonts/WEB/fonts/Alpino-Black.eot");
    src: url("./assets/Fonts/Alpino_Complete/Fonts/WEB/fonts/Alpino-Black.woff")
        format("woff"),
      url("./assets/Fonts/Alpino_Complete/Fonts/WEB/fonts/Alpino-Black.woff2")
        format("woff2"),
      url("./assets/Fonts/Alpino_Complete/Fonts/WEB/fonts/Alpino-Black.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "AlpinoBold";
    src: url("./assets/Fonts/Alpino_Complete/Fonts/WEB/fonts/Alpino-Bold.eot");
    src: url("./assets/Fonts/Alpino_Complete/Fonts/WEB/fonts/Alpino-Bold.woff")
        format("woff"),
      url("./assets/Fonts/Alpino_Complete/Fonts/WEB/fonts/Alpino-Bold.woff2")
        format("woff2"),
      url("./assets/Fonts/Alpino_Complete/Fonts/WEB/fonts/Alpino-Bold.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "AlpinoLight";
    src: url("./assets/Fonts/Alpino_Complete/Fonts/WEB/fonts/Alpino-Light.eot");
    src: url("./assets/Fonts/Alpino_Complete/Fonts/WEB/fonts/Alpino-Light.woff")
        format("woff"),
      url("./assets/Fonts/Alpino_Complete/Fonts/WEB/fonts/Alpino-Light.woff2")
        format("woff2"),
      url("./assets/Fonts/Alpino_Complete/Fonts/WEB/fonts/Alpino-Light.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "AlpinoMedium";
    src: url("./assets/Fonts/Alpino_Complete/Fonts/WEB/fonts/Alpino-Medium.eot");
    src: url("./assets/Fonts/Alpino_Complete/Fonts/WEB/fonts/Alpino-Medium.woff")
        format("woff"),
      url("./assets/Fonts/Alpino_Complete/Fonts/WEB/fonts/Alpino-Medium.woff2")
        format("woff2"),
      url("./assets/Fonts/Alpino_Complete/Fonts/WEB/fonts/Alpino-Medium.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "AlpinoThin";
    src: url("./assets/Fonts/Alpino_Complete/Fonts/WEB/fonts/Alpino-Thin.eot");
    src: url("./assets/Fonts/Alpino_Complete/Fonts/WEB/fonts/Alpino-Thin.woff")
        format("woff"),
      url("./assets/Fonts/Alpino_Complete/Fonts/WEB/fonts/Alpino-Thin.woff2")
        format("woff2"),
      url("./assets/Fonts/Alpino_Complete/Fonts/WEB/fonts/Alpino-Thin.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "AlpinoVariable";
    src: url("./assets/Fonts/Alpino_Complete/Fonts/WEB/fonts/Alpino-Variable.eot");
    src: url("./assets/Fonts/Alpino_Complete/Fonts/WEB/fonts/Alpino-Variable.woff")
        format("woff"),
      url("./assets/Fonts/Alpino_Complete/Fonts/WEB/fonts/Alpino-Variable.woff2")
        format("woff2"),
      url("./assets/Fonts/Alpino_Complete/Fonts/WEB/fonts/Alpino-Variable.ttf")
        format("truetype");
  
    font-weight: normal;
    font-style: normal;
  }
  




  


