.header {
  padding: 20px;
  background-color: rgba(126, 44, 209, 1);
  border-radius: 0px 0px 28px 28px;
  color: #fff;
  width: 100vw;
  height: 326px;
}

.welcome-user {
  font-size: 16px;
  font-family: "AlpinoRegular";
  font-weight: 421;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: justify;
}
.username {
  font-family: "AlpinoMedium";
  font-size: 16px;
  font-weight: 507;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.welcome-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}

.home-icon {
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid transparent;
  background: #973cf2;
  box-shadow: 2px 3px 4px 0px #00000040;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.account-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.account-balance {
  margin-top: 20px;
}

.account-balance .acct {
  color: #cecece;
  font-family: "AlpinoRegular";
  font-size: 10px;
  font-weight: 421;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}
.account-balance .amount {
  font-family: "AlpinoMedium";
  font-size: 14px;
  font-weight: 507;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #afff93;
  margin: 0;
}

.see-account {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: "AlpinoMedium";
  font-size: 12px;
  font-weight: 507;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}

.see-account .arrow-icon {
  margin-left: 5px;
  color: #fff;
}
.search-container {
  width: 100%;
}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  position: relative;
  padding-left: 18px;
  /* width: 100%; */
}

.search-bar img {
  position: absolute;
  top: 20px;
  left: 24px;
}
.search-bar input {
  width: 100%;
  height: 40px;
  padding: 25px;
  font-size: 16px;
  border-radius: 50px;
  outline: none;
  border: 0;
}
input::placeholder {
  font-family: "AlpinoRegular";
  font-size: 14px;
  font-weight: 421;
  line-height: 18px;
  letter-spacing: 0em;
  color: #a3a3a3;
  padding: 20px;
}


.search-result {
  width: 80%;
  background-color:white;
  color: #070D15B2;
  position: absolute;
  bottom: 49%;
  left: 20px;
  box-shadow: 0px 2px 6px 0px #00000026;

}

.search-result div {
  width: 100%;
  padding: 10px 25px;
  color: white;
}

.todays-games-section {
  margin-bottom: 28px;
}

.todays-game {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.todays-game h2 {
  font-family: "AlpinoMedium";
  font-size: 24px;
  font-weight: 507;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.see-all-games {
  color: #7e2cd1;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.todays-games {
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}
.carousel-container {
  width: 500px;
  padding-left: 10px;
}
.todays-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}
.special-game-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px #00000040;
  width: 158px;
  height: 163px;
}

.special-game-card h3 {
  background: #f4f4f4;
  border-radius: 10px;
  width: 70px;
  height: 22px;
  padding: 3px 18px 3px 18px;
  font-family: "AlpinoMedium";
  font-size: 12px;
  font-weight: 507;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin: 14px;
}

.game-title {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 86.5%
  );
  width: 158px;
  height: 47px;
  margin-top: 63px;
}

.game-title-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 23px;
  padding: 0 10px;
}

.game-title p {
  margin: 0;
  padding-left: 5px;
  color: #ffffff;
  font-family: "Alpino";
  font-size: 12px;
  font-weight: 507;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.popular-categories {
  margin-top: 20px;
}

.navigation-iconss {
  position: fixed;
  bottom: -16px;
  right: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px;
}

.icon-content-section {
  background-color: #fff;
  border-radius: 40px;
  width: 95vw;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  margin: 0 5px;
}

.navigation-iconss div:hover {
  background-color: #2980b9;
}
