.home-page{
  background: #08081E;

}

.header {
  padding:0px 26px 0px 26px;
  /* background-color: #230442; */
  background: #08081E;

  color: #fff;
}


.account-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account-cont-cont{
  margin-top: 35px;

}

.logo-section{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo-section .logo-section-logo{
  display: flex; 
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -44px;



}
.home-icon {
  cursor: pointer;
  border-radius: 17px;
  border: 2px solid transparent;
  background: #4b296d;
  box-shadow: 2px 3px 4px 0px #00000040;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account-balance {
  /* margin-top: 20px; */
}

.account-balance .acct {
  color:#FFFFFF;
  font-family: "AlpinoRegular";
  font-size: 15px;
  font-weight: 421;
  line-height: 15.72px;
  letter-spacing: 0em;
  margin: 0;


}
.account-balance .amount {
  /* font-family: "AlpinoRegular"; */
  font-size: 18px;
  font-weight: 421;
  line-height: 23.58px;
  letter-spacing: 0em;
  color: #afff93;
  margin: 0;
  font-family: "Roboto";
}

.account-balance .xpoint{
  font-family: "AlpinoBold";
font-size: 12px;
font-weight: 700;
line-height: 16.32px;


}

.toastt {
  /* background-color: #d9d9d9; */
  background: #08081E;

  margin: 32px 23px 20px 23px;
  padding: 17px 71px 14px 71px;
}
.toastt p {
  font-family: "AlpinoBold";
  font-size: 12px;
  font-weight: 700;
  line-height: 16.32px;
  text-align: center;
  color: #ffffff;
}







